.login-container {
    height: 100%;
    width: 100%;
    background: url(../../assets/bg-3.jpg) no-repeat center center fixed;
    background-size: cover;
}

.login-panel {
    max-width: 460px;
    height: 386px;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 20%;
    background: #FFF;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 218, 223);
    box-shadow: rgba(116, 129, 141, 0.1) 0px 1px 1px 0px;
    box-shadow: 0 1px 11px rgba(0,0,0,0.27);
}

.login-panel.with_err {
    height: 550px;
}

.input-prefix-icon {
    color: rgba(0, 0, 0, 0.25);
}

.login-panel .err_msg {
    margin-bottom: 24px;
}

.login-panel .banner {
    padding: 32px 24px;
    border-bottom: 1px solid rgb(230, 236, 241);
}

.login-panel .banner .title {
    color: rgba(0,0,0,0.85);
    font-size: 24px;
}

.login-panel img.logo {
    position: absolute;
    right: 24px;
    top: 32px;
    height: 36px;
}

.login-panel .login-form {
    padding: 32px 24px;
}

.login-panel .login-form .input-label {
    height: 23px;
    position: relative;
}

.login-panel .login-form .input-label span {
    position: absolute;
    top: 0px;
    line-height: 14px;
    color: rgb(116, 129, 141);
    font-size: 12px;
}

.login-panel .login-form .forget-password a {
    position: absolute;
    top: 0px;
    line-height: 14px;
    font-size: 12px;
    right: 0px;
}

.login-panel .login-type {
    border-top: 1px solid rgb(230, 236, 241);
    position: relative;
    padding: 32px 24px;
}

.login-panel .login-type .login-type-label {
    position: absolute;
    top: 0px;
    line-height: 14px;
    color: rgb(116, 129, 141);
    font-size: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 8px;
    background: rgb(255, 255, 255);
}

.login-panel .login-type .radio-btn {
    width: 50%;
    text-align: center;
    font-size: 13px;
}
